<% @users.each do |user| %>
    <div>
        <%= user.first_name %>
        <%= user.last_name %>
        <br/>
        <%= user.potentials.length %> Potentials
        <br/>
        <br/>
    </div>
<% end %>
